@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f46d;
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #f4f4f46d;
    text-align: left;
  }

  .resource-deployment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
    .deployment-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1200px; // Adjust as needed
  
      .controls {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
  
      .map-container {
        width: 60%;
      }
    }
  }
  
  